.calendar {
    background-color: $base;
    border-radius: 16px;
    border: 3px solid $base0;
    color: $text;
    padding: 10px;
}
.calendarWidget {
    padding: 3px;
    &:selected {
        color: $accent;
    }
}
