.calendar {
    background-color: #1e1e2e;
    border-radius: 16px;
    border: 3px solid #11111b;
    color: #cdd6f4;
    padding: 10px;
}
.calendarWidget {
    padding: 3px;
    &:selected {
        color: $accent;
    }
}
