.notificationList {
    background-color: $base;
    border-radius: 15px;
    border: 3px solid $base0;
    margin-bottom: 15px;
    padding: 10px;
}
.notificationEmpty {
    color: $base1;
    font-size: 80px;
}
.notificationImage {
    color: $text;
    font-size: 40px;
}
.notification {
    background-color: $base1;
    border-radius: 15px;
    padding:10px;
}
.notificationTitle {
    color: $text;
}
.notificationDescription { 
    color: $text1;
}
