.quicktoggles {
    background: #1e1e2e;
    border-radius: 15px;
    border: 3px solid #11111b;
    margin-bottom: 15px;
    min-width: 300px;
    padding: 20px 20px;
}

.buttons {
    margin-top: 10px;
}

.bluetooth, .wifi {
    background: $accent;
    border-radius: 24px;
    min-width: 125px;
    padding: 9px;
    &.off {
        background: #313244;
    }
}
.wifi {
    margin-right: 10px;
}
.wifi, .bluetooth, {
    &Icon {
        margin-right: 6px;
    }
}
.Icon {
    background: #313244;
    border-radius: 50%;
    margin-left: 5px;
    min-height: 32px;
    min-width: 32px;
}
