.Slider {
    background: #1e1e2e;
    border-radius: 15px;
    border: 3px solid #11111b;
    margin-bottom: 15px;
    padding: 12px;
}
.sld {
    &Label {
        margin-bottom: 6px;
    }
    &Icon {
        margin-right: 6px;
    }
    &Slider {
        min-width: 300px;
        & slider {
            background: none;
        }
        & trough {
            background: #313244;
            border-radius: 24px;
            min-height: 16px;
        }
        & highlight {
            background: $accent;
            border-radius: 24px;
            min-width: 16px;
        }
    }
}
