.volumeSlider {
    padding: 12px;
    border-radius: 15px;
    background: #1e1e2e;
    border: 3px solid #74c7ec;
    margin-bottom: 15px;
}
.vol {
    &Label {
        margin-bottom: 6px;
    }
    &Icon {
        margin-right: 6px;
    }
    &Slider {
        min-width: 300px;
        & slider {
            background: none;
        }
        & trough {
            min-height: 16px;
            border-radius: 24px;
            background: #313244;
        }
        & highlight {
            min-width: 16px;
            border-radius: 24px;
            background: #74c7ec;
        }
    }
}
