.toggles {
    background-color: $surface;
    border-radius: 16px;
    border: solid 2px $surface_high;
    padding: 1em 0.5em;
    &_top {
        margin: 0 .6em;
    }
}
.power_button {
    padding: .3em .9em;
    transition: 0.3s;
    background-color: $surface_high;
    border-radius: 50%;
    color: $text;
    margin-left: .35em;
    &:hover {
        background-color: $error;
        color: $error_text;
    }
}

.toggle {
    background-color: $surface_high;
    color: $text;
    padding: 1em 0;
    min-width: 11em;
    margin: .5em;
    border-radius: 2em;
    transition: .5s;
    &.powered, &:hover {
        color: $primary_text;
        background-color: $primary;
    }
}
