*:not(selection):not(tooltip) {
  all: unset;
}

// Vars
$font: JetBrains Mono Nerd Font;
$materialStandard: cubic-bezier(0.2, 0, 0, 1);
$materialAccel: cubic-bezier(0.3, 0, 1, 1);
$materialDecel: cubic-bezier(0, 0, 0, 1);
$base0: #11111b;
$base: #1e1e2e;
$base1: #313244;
$text: #cdd6f4;
$text1: #adb6d4;



// Components
@import "./colors";
@import "bar/bar";
@import "dashboard/dashboard";
