*:not(selection):not(tooltip) {
  all: unset;
}

// Vars
$font: JetBrains Mono Nerd Font;
$materialStandard: cubic-bezier(0.2, 0, 0, 1);
$materialAccel: cubic-bezier(0.3, 0, 1, 1);
$materialDecel: cubic-bezier(0, 0, 0, 1);

// Components
@import "./colors";
@import "bar/bar";
@import "dashboard/dashboard";
