window#waybar{
    background-color: rgba(30,30,46,0.8);
    margin-top: 0px;
    margin-bottom: 0px;
}

#tray,
#battery,
#cpu,
#memory,
#battery,
#backlight,
#pulseaudio,
#custom-updater,
#workspaces button,
#window,
#clock{
    color: #cdd6f4;

    margin-right: 5px;
    margin-top: 2px;
    margin-bottom:2px;

    padding-left: 10px;
    padding-right: 10px;
}

#workspaces button.active{
    color: #74c7ec;
    font-weight: bold;
}

#battery.critical:not(.charging){
     color: #74c7ec;
    font-weight: bold;
}

#pulseaudio.muted{
    font-weight: bold;
    color: #74c7ec;
}
