.media {
    background-color: #1e1e2e;
    font-weight: bold;
    border-radius: 15px;
    padding: 1px 15px;
    border: 3px solid #74c7ec;
    color: #cdd6f4;
    &:hover {
        color: #f5c2e7;
        border: 3px solid #f5c2e7;
    }
}
