@keyframes lowBlink {
  0% {
    color: $accent;
  }
  50% {
    color: $text;
  }
  100% {
    color: $accent;
  }
}
.sysinfo {
    background-color: $base;
    border-radius: 15px;
    border: 3px solid $base0;
    color: $text;
    font-weight: bold;
    margin-right: 10px;
    padding: 1px 15px;
    &:hover {
        color: $accent;
        border: 3px solid $accent;
    }

}
.volume {
    margin-left: 8px;
}

.bluetoothindicator {
    margin-left: 8px;
}
.batIcon {
    margin-left: 8px;
    margin-right: 4px;
    &.low {
        animation: lowBlink 2s infinite;
    }
}
