.title {
    background: $base;
    border-radius: 15px;
    border: 3px solid $base0;
    color: $text;
    font-weight: bold;
    margin-left: 10px;
    padding: 1px 15px;
    &:hover {
        color: $accent;
        border: 3px solid $accent;
    }
}
