.tray{
    > * {
        margin: 0 4px;
    }
    color: #cdd6f4;
    background-color: #1e1e2e;
    border-radius: 15px;
    padding: 1px 11px;
    font-weight: bold;
    margin-right: 10px;
    border: 3px solid #74c7ec;
}
