.workspaces_pill {
    background: $base;
    border-radius: 15px;
    border: 3px solid $base0;
    padding: 1px 15px;
}

.workspaces {
    margin: 3px 0;
    & button {
        background: $text;
        border-radius: 24px;
        margin: 0 3px;
        min-height: 16px;
        min-width: 16px;
        transition: all 0.3s $materialStandard;

        &:hover {
            min-width: 24px;
        }

        &.focused {
            background: $accent;
            min-width: 32px;
        }
    }
}
