.workspaces_pill {
    background: #1e1e2e;
    padding: 4px 15px;
    border-radius: 15px;
}

.workspaces {
    margin: 3px 0;

    & button {
        margin: 0 3px;
        min-width: 16px;
        min-height: 16px;
        border-radius: 24px;
        background: #cdd6f4;
        transition: all 0.3s $materialStandard;

        &:hover {
            min-width: 24px;
            background: #f5c2e7;
        }

        &.focused {
            min-width: 32px;
            background: #74c7ec;
        }
    }
}
