.bar-widget {
    margin: 8px 8px 0px 8px;
}
.bean {
    border-radius: 16px;
    border: 2px solid $surface_high;
    margin: 0 .3em; 
    padding: .3em 1.25em;
    background-color: $surface;
    color: $text;
}

