$surface: {{colors.surface.default.hex}};
$text: {{colors.on_surface.default.hex}};
$surface_high: {{colors.surface_container_highest.default.hex}};
$primary: {{colors.primary.default.hex}};
$primary_text: {{colors.on_primary.default.hex}};
$secondary: {{colors.secondary.default.hex}};
$secondary_text: {{colors.secondary.default.hex}};
$error: {{colors.error.default.hex}};
$error_text: {{colors.on_error.default.hex}};
