@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@media (prefers-color-scheme: dark) {    
    :root {
        /* Colors */
        --gnome-standalone-color-oklab: max(l, 0.85) a b;
        --gnome-destructive-bg: {{colors.error.default.hex}};
        --gnome-success-bg: {{colors.primary_container.default.hex}};
        --gnome-warning-bg: {{colors.error_container.default.hex}};
        --gnome-error-bg: {{colors.error.default.hex}};

        --gnome-toolbar-star-button: {{colors.primary.default.hex}};

        /* Window */
        --gnome-window-background: {{colors.surface_dim.default.hex}};
        --gnome-window-color: {{colors.on_surface.default.hex}};
        --gnome-view-background: {{colors.surface_bright.default.hex}};
        --gnome-sidebar-background: {{colors.surface_container_lowest.default.hex}};
        --gnome-secondary-sidebar-background: {{colors.surface_container_low.default.hex}};

        /* Card */
        --gnome-card-background: {{colors.surface_container.default.hex}};
        --gnome-card-shade-color: {{colors.surface_container_high.default.hex}};

        /* Menu */
        --gnome-menu-background: {{colors.surface_container_highest.default.hex}};

        /* Header bar */
        --gnome-headerbar-background: {{colors.surface_container.default.hex}};
        --gnome-headerbar-shade-color: {{colors.surface_container_high.default.hex}};

        /* Toolbars */
        --gnome-toolbar-icon-fill: {{colors.on_surface_variant.default.hex}};

        /* Tabs */
        --gnome-tabbar-tab-hover-background: {{colors.surface_container_low.default.hex}};
        --gnome-tabbar-tab-active-background: {{colors.surface_container_high.default.hex}};
        --gnome-tabbar-tab-active-background-contrast: {{colors.secondary.default.hex}};
        --gnome-tabbar-tab-active-hover-background: {{colors.surface_container_highest.default.hex}};
        
        --gnome-tabbar-identity-color-green: #9ec49f;
        --gnome-tabbar-identity-color-yellow: #c4c19e;
        --gnome-tabbar-identity-color-orange: #9ec3c4;
        --gnome-tabbar-identity-color-red: #c49ea0;
        --gnome-tabbar-identity-color-purple: #c49ec4;
        
        /* Text color for Firefox Logo in new private tab */
        --gnome-private-wordmark: {{colors.secondary.default.hex}};
        /* New private tab background */
        --gnome-private-in-content-page-background: {{colors.surface.default.hex}};
        /* Private browsing info box */
        --gnome-private-text-primary-color: {{colors.secondary.default.hex}};
        
        /* Backdrop colors */
        &:-moz-window-inactive {
            --gnome-tabbar-tab-hover-background: {{colors.surface_container_low.default.hex}};
            --gnome-tabbar-tab-active-background: {{colors.surface_container_low.default.hex}};
        }
        
        /* Private browsing colors */
        &[privatebrowsingmode="temporary"] {
            /* Headerbar */
            --gnome-headerbar-background: {{colors.surface.default.hex}} !important;
            /* Tabs */    
            --gnome-tabbar-tab-hover-background: {{colors.surface_container_low.default.hex}};
            --gnome-tabbar-tab-active-background: {{colors.surface_container_high.default.hex}};
            --gnome-tabbar-tab-active-background-contrast: {{colors.secondary.default.hex}};
            --gnome-tabbar-tab-active-hover-background: {{colors.surface_container_highest.default.hex}};
            
            /* Private and backdrop colors */
            &:-moz-window-inactive {
                --gnome-tabbar-tab-hover-background: {{colors.surface_container_low.default.hex}};
                --gnome-tabbar-tab-active-background: {{colors.surface_container_low.default.hex}};
            }
        }
    }
}

