.clock {
    border-radius: 16px;
    padding: 0.375rem 1.25rem;
    background-color: $surface;
    &_date {
        color: $text;
    }
    &_hour {
        color: $text;
    }
    &_sep {
        color: $primary;
        font-weight: bolder;
    }
    &_minute {
        color: $text;
    }
}
