.music {
    border-radius: 16px;
    padding: 6px 10px;
    background-color: $surface;
    &_title {
        padding: 0 10px;
        border-radius: 16px;
        transition: 0.3s;
        color: $text;
        &:hover {
            background-color: $primary;
            color: $primary_text;
        }
    }
    &_control {
        margin: 0 5px;
        padding: 0 6px;
        transition: 0.3s;
        background-color: $surface_high;
        border-radius: 50%;
        color: $text;
        &:hover {
            background-color: $primary;
            color: $primary_text;
        }
    }
}
