.music {
    border-radius: 16px;
    padding: .375em .625em;
    background-color: $surface;

    &_title {
        padding: 0 0.625em;
        border-radius: 16px;
        transition: 0.3s;
        color: $text;
        &:hover {
            background-color: $primary;
            color: $primary_text;
        }
    }

    &_control {
        margin: 0 .25em;
        padding: 0 .55em;
        transition: .3s;
        background-color: $surface_high;
        border-radius: 50%;
        color: $text;
        &:hover {
            background-color: $primary;
            color: $primary_text;
        }
    }
}

