.tray {
    &_button {
        margin: 0 .25em;
        padding: 0 .55em;
        transition: .3s;
        background-color: $surface_high;
        border-radius: 50%;
        &:hover {
            background-color: $primary;
            color: $primary_text;
        }
        &.muted {
            color: $error_text;
            background-color: $error;
        }
    }
    &_value {
        margin: 0 .25em;
        padding: 0 .55rem;
        transition: .3s;
        background-color: $surface_high;
        border-radius: 16px;
        &:hover {
            background-color: $primary;
            color: $primary_text;
        }
    }
}
