.tray {
    border-radius: 16px;
    padding: 0.375rem 0.75rem;
    margin: 0 1rem;
    background-color: $surface;
}
.button {
    margin: 0 0.5rem;
    padding: 0 0.55rem;
    transition: 0.3s;
    background-color: $surface_high;
    border-radius: 50%;
    color: $text;
    &:hover {
        background-color: $primary;
        color: $primary_text;
    }
    &.muted {
        color: $error_text;
        background-color: $error;
    }
}

