.window {
    border-radius: 16px;
    margin: 0 0.625rem; 
    padding: 0.375rem 1rem;
    background-color: $surface;
}

.close_button {
    padding: 0 0.5rem;
    transition: 0.3s;
    border-radius: 16px;
    color: $text;
    &:hover {
        background-color: $error;
        color: $error_text;
    }
}

