.window {
    &_button {
        padding: 0 .5em;
        transition: .3s;
        border-radius: 16px;
        color: $text;
        &:hover {
            background-color: $error;
            color: $error_text;
        }
    }
}

