.workspaces {
    border-radius: 16px;
    padding: 0.375rem 1.25rem;
    background-color: $surface;
}

.workspace {
    border-radius: 1rem;
    background-color: $surface_high;
    margin: 0 0.2rem;
    padding: 0 0.8rem;
    transition: 0.3s;
    &.current {
        background-color: $primary;
        padding: 0 1.2rem;
    }
    &:hover {
        background-color: $secondary;
    }
}

