# Setups
format="""
[](bg:none fg:#74c7ec)\
$username\
[](bg:#f5c2e7 fg:#74c7ec)\
$hostname\
[](bg:#cdd6f4 fg:#f5c2e7)\
$directory\
[](bg:#f5c2e7 fg:#cdd6f4)\
$git_branch\
[](bg:#74c7ec fg:#f5c2e7)\
$cmd_duration\
[](bg:none fg:#74c7ec)\
$line_break\
$character\
"""
add_newline = false 

# Prompt symbols 
[character]
success_symbol = "[ 󱞪](#74c7ec)"
error_symbol = "[ 󱞪](#f5c2e7)"
vicmd_symbol = "[ 󱞪❯](#f5c2e7)"

[username]
disabled = false
show_always = true
format = "[ $user ](bg:#74c7ec fg:#1e1e2e bold)"

[hostname]
disabled = false
ssh_only = false
format = "[ 󰌽 $hostname ]( bg:#f5c2e7 fg:#1e1e2e bold)"

[directory]
disabled =false
format = "[  $path](bg:#cdd6f4 fg:#1e1e2e bold)"
truncation_length = 3
truncate_to_repo=false

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "
"Videos" = " "
"iso" = "󰌽 "
".config" = ""

[git_branch]
disabled =false
format = '[  $branch](bg:#f5c2e7 fg:#1e1e2e bold)'

[cmd_duration]
min_time = 4
show_milliseconds = false
disabled = true
format = '[ 󱑆 $duration](bg:#74c7ec fg:#1e1e2e bold)'

