*{
    all: unset; 
    color: #cdd6f4;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
}
#window{ 
    background-color: transparent;
}
#entry{
    background-color: #1e1e2e;
    border-radius: 15px;
    border: 3px solid #11111b;
    font-size: 16px;
    margin-top: 10px;
    padding: 1px 15px;
}
#match {
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 1px 15px;
}
#match-desc{
    color: #bac2de;
    font-size: 12px;
    font-weight: normal;
}
#match:selected {
    background: #313244;
    border-radius: 15px;
}
#plugin{
    background-color: #1e1e2e;
    border-radius: 15px;
    border: 3px solid #11111b;
    margin-top:10px;
    padding: 10px 1px;
}
#plugin > *{
    all:unset;
}
