window#waybar{
    background-color: transparent;
}

#tray,
#battery,
#cpu,
#memory,
#battery,
#backlight,
#pulseaudio,
#custom-updater,
#clock{
    border-radius: 15px;
    background: #1e1e2e;
    color: #cdd6f4;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;

    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;

}

#workspaces{
    background-color: transparent;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
#workspaces button{
    box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
    background: #1e1e2e ;
    border-radius: 15px;

    margin-right: 10px;

    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
 
    font-weight: bolder;
    color: #cdd6f4;
}
#workspaces button.active{
    box-shadow: rgba(0, 0, 0, 0.288) 2 2 5 2px;
    background: linear-gradient(45deg, #f38ba8 30%, #fab387 80%); 
 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;

    font-weight: bolder;
    color: #cdd6f4;
}

#custom-waybar-mpris.playing{
    background: linear-gradient(45deg, #ed8796 30%, #f5a97f 80%); 
    color: #cdd6f4;
    font-weight: bolder;
    border-radius: 15px;

    margin-top: 10px;
    margin-bottom: 10px;

    border-radius: 15px;
 
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
}
#custom-waybar-mpris.paused{
    background: rgb(30, 30, 46) ;
    font-weight: bolder;
    background-color: rgb(30, 30, 46);
    border-radius: 15px;

    margin-top: 10px;
    margin-bottom: 10px;

    border-radius: 15px;

    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;

    color: #cdd6f4;
}

#window.empty{
    background-color: transparent;
    margin-bottom: 0px;
}

#window{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #1e1e2e;
    color: #cdd6f4;

    margin-top: 10px;
    margin-bottom: 10px;

    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 4px;

    font-weight: bolder;
}

#custom-maximize{
    background-color: #1e1e2e;
    color: #a6e3a1;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}

#custom-close{
    background-color: #1e1e2e;
    color: #f38ba8;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 20px;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#clock{
    margin-right: 25px;

    padding-right: 20px;
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 4px;

    font-weight: bolder;
}

#battery.critical:not(.charging){
    background: linear-gradient(45deg, #f38ba8 30%, #fab387 80%); 
}

#pulseaudio.muted{
    background: linear-gradient(45deg, #f38ba8 30%, #fab387 80%); 
}
